html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#wrapper {
  min-height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
}
#content {
  flex: 1;
  display: flex;
}

footer {
  flex: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000; 
}
.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product {
  width: calc((100% - 30px) / 3);
  background-color: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.22);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.22);
}

.product_image {
  display: block;
  width: 100%;
}

.product img {
  width: 100%;
  margin-bottom: 30px;
}

.product_title {
  font-weight: bold;
  text-decoration: underline;
  display: block;
  margin-bottom: 15px;
}

.product_code {
  font-size: 15px;
  color: #808080;
  font-weight: bold;
  margin-bottom: 15px;
}

.product_code span {
  font-weight: normal;
}

.product_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_nav button {
  background-color: #d7d5d5;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

.product_price {
  font-size: 18px;
  font-weight: bold;
}

.products.cart_c {
  display: flex;
  flex-direction: column;
}

.cart_nav {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart_nav li {
  width: 25%;
  text-align: center;
  font-size: 15px;
  line-height: -1em;
}

.cart_nav li:first-child {
  width: 50%;
}
.cart_nav li:nth-child(3),
.cart_nav li:last-child {
  width: 100px;
}
.cart_product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cart_product_image img {
  width: 100px;
}
.cart_product_quantity,
.cart_nav li:nth-child(2) {
  width: calc(50% - 200px);
}
.cart_product_info {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.cart_product_title {
  width: 100%;
  display: block;
  font-weight: bold;
}

.minus_button,
.plus_button {
  width: 40px;
  height: 40px;
  border: none;
}
.minus_button {
  background: #ccc;
}
.cart_product_quantity {
  display: flex;
  justify-content: center;
}

.cart_product_quantity input,
.cart_product_remove button {
  text-align: center;
  width: 40px;
  height: 40px;
}

.plus_button {
  background-color: #0a224a;
  color: #ffffff;

}

.cart_product_remove, 
.cart_product_price {
  width: 100px;
  text-align: center;
}
.cart_product_remove {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart_product_remove button {
  border: 1px solid #ccc;
  background: none;
}

footer {
  flex-shrink: 0;
}

.head_con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_div {
  display: flex;
  align-items: center;
}

.head_nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.head_nav_item {
  color: #ffffff;
  font-size: 11px;
  letter-spacing: -0.03em;
  padding: 5px;
}

.head_button {
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #d81f50;
  font-size: 9px;
  padding: 12px;
}

.cart {
  color: #ffffff;
}

#header {
  background-color: #000;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 15px;
}

.head_logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.12em;
}

.cart_total {
  display: flex;
  justify-content: flex-end;
}

.total {
  border: 1px solid #ccc;
  padding: 20px;
}

.total span {
  font-weight: bold;
}

.footer_box {
  display: flex;
  padding-top: 20px;
}

.footer_block {
  width: 25%;
}

.footer_block.footer_logo {
  display: flex;
  flex-direction: column;
}

.footer_logo a:first-child {
  color: red;
  margin-bottom: 15px;
}

.footer_block h3 {
  color: #1d3358;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer_block p {
  margin-bottom: 10px;
}

#footer {
  border-top: 1px solid #ccc;
}

#content {
  padding-bottom: 20px;
}