@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}
#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product {
  width: calc((100% - 20px) / 3);
  background-color: #ffffff;
  padding: 20px;
  border: 2px #808080 solid;
}

.product_image {
  display: block;
  width: 100%;
}

.product img {
  width: 100%;
  margin-bottom: 30px;
}

.product_title {
  font-weight: bold;
  text-decoration: underline;
  display: block;
  margin-bottom: 15px;
}

.product_code {
  font-size: 15px;
  color: #808080;
  font-weight: bold;
  margin-bottom: 15px;
}

.product_code span {
  font-weight: normal;
}

.product_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_nav button {
  background-color: #d7d5d5;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

.product_price {
  font-size: 18px;
  font-weight: bold;
}